<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hora Actual</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Ultima hora de Movimiento</h1>
        <div id="time-box" class="time-box">Conectando...</div>
        <button id="update-button", class="btn">Actualizar Hora</button>
    </div>
    <script src="script.js"></script>
</body>
</html>
